```
# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd


# Dependencies
.venv/
venv/
node_modules/

# Logs and temp files
*.log
*.tmp
*.swp

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/

# Coverage reports
coverage/
htmlcov/
.coverage

data/indexes/newsqa/

# Python cache
.mypy_cache/
.pytest_cache/
```
